.time_line{
    margin: 20px 0;
    border-bottom: 10px;
}
.m{
    border-left: 3px solid #fff;
}
.time_line::after{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 50%;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    background-color: #fff;
}
.conten h1{
    line-height: 30px;
}

.border{
    border-bottom: 3px solid #fff;
    width: 200px;
}
.khoahoc_{
    width: 100%;
    object-fit: cover;
    height: 350px;
    object-fit: cover;
    background-image: url("/main/khoanhat_icon/12.png");
}
.khoahoc_{
    padding: 20px;
}
.conten_text h1{
letter-spacing: 2px;
}
.gv_text ul li{
    font-size: 10px;
}
.border_{
    margin-right: 5px;
    border-right: 3px solid #A0181A ;
}
.ds ul li{
    list-style-type: disc;
}

.ft_logo{
    max-width: 100px;

}
.ft_logo img{
    width: 100%;
}
.f{
    max-width: 100px;
}
@media(min-width:425px){
    body{
        font-size: 10px;
    }
    .dib{
        margin: 9px 5px;
        font-size: 10px;
    }
    .wmx1{
        max-width: 79px !important;
    }
    .gr_cl_4_{
        grid-template-columns: repeat(1,1fr) !important;
    }
    .h1_,.giangvien {
        display: none !important;
    }
    .tt_home {
        display: none;
    }
    .dn{
        display: block !important;
    }
    .w20{
        width: 30% !important;
    }
    .fs_20 {
        font-size: 25px !important; 
    }
    .text_k{
        width: auto !important;
    }
    .w40,.w60 {
        width: auto;
    }
    .vh_{
        width: 100% !important;
    }
    footer{
        display: flex;
    }
}
@media(min-width:768px){
    body{
        font-size: 11px;
    }.tt_home{
        display: block;
    }
    .giangvien {
        display: block !important;
    }
    .dib{
        margin: 9px 5px;
        font-size: 10px;
    }
    .text_k{width: 100% !important;}
    .df{ display: flex !important;}
    .vh_{
        width: 41.66666667%;
    }
    .dn{
        display: none;
    }
    .wmx1{
        max-width: 300px !important;
    }
    .gr_cl_4_{
        grid-template-columns: repeat(2,1fr) !important;
    }
    .h1_{
        display: none !important;
    }
    .w20{
        width: 30% !important;
    }
    .fs_20 {
        font-size: 15px !important; 
    }
}
@media(min-width:1024px){
    body{
        font-size: 13px;
    }
    .dib{
        margin: 9px 12px;
        font-size: 13px;
    }
    .wmx1{
        max-width: 200px !important;
    }
    .gr_cl_4_{
        grid-template-columns: repeat(4,1fr) !important;
    }
    .h1_{
        display: block !important;
    }
    .w20{
        width: 20% !important;
    }
    .fs_20{
        font-size: 20px!important;
    }
}